:root {
  --body-bg: #ffffff;
  --nav-bg: #e8e5e480;
  --font-color: #000000;
  --grey-text: #7f7f7f;
}
body {
  margin: 0;
  font-family: "Inter", sans-serif;
  text-align: center;
}
.container {
  background-color: var(--body-bg);
  width: 800px;
  text-align: center;
  margin: 0 auto;
}

.first-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  background-color: #f3f2f1;
  align-content: center;
  align-items: center;
  width: 340px;
  margin: 20px auto;
  border-radius: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2em;
  cursor: pointer;
  position: fixed;
  top: 5px;
  transform: translateX(-50%);
  left: 50%;
}
.second-list {
  font-size: 14px;
  list-style-type: none;
  display: flex;
  justify-content: center;
}
.second {
  background-color: #f3f2f1;
  border-radius: 22px;
  padding: 8px 12px;
  line-height: 1.2em;
  margin: 8px;
  font-weight: 500;
  cursor: pointer;
}
.unactive {
  background-color: var(--body-bg);
}
li {
  padding: 12px 35px;
}
.active {
  background-color: var(--body-bg);
  border-radius: 40px;
  margin-top: 11px;
  margin-bottom: 11px;
}
h1 {
  font-size: 72px;
  font-weight: 500;
  line-height: 1.2em;
  letter-spacing: -0.2;
  padding-top: 170px;
}
